#ccr-header .ccr-slug {
    padding: 40px 0 0px 0px;
}

#ccr-about-us .ccr-designation h3{
	text-align: left!important;
}

#ccr-about-us .ccr-us-item #wypowiedzi p {
	font-size: 1em;
}

#ccr-about-us .second_line {
    margin-top: 15px;
}